root = true

[*]
end_of_line = crlf
insert_final_newline = true
charset = utf-8
indent_style = tab
indent_size = 2
trim_trailing_whitespace = true

# Matches multiple files with brace expansion notation
[*.cs]
charset = utf-8
indent_style = tab
indent_size = 2
trim_trailing_whitespace = true

[*.{xml,html,css,wxs,config}]
charset = utf-8
indent_style = tab
indent_size = 1
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false
